.header {
  border-bottom: 1px solid #ececec;

  &__section {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: baseline;

    @media screen and (min-width: 768px) {
      align-items: stretch;
    }
  }

  &__nav-container {
    display: flex;
    align-items: center;
  }

  &__menu-section {
    display: flex;
    width: 294px;

    @media screen and (max-width: 767px) {
      position: absolute !important;
      clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
      clip: rect(1px, 1px, 1px, 1px);
      padding: 0 !important;
      border: 0 !important;
      height: 1px !important;
      width: 1px !important;
      overflow: hidden;
    }

    @media screen and (min-width: 768px) {
      margin-left: 88px;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 0;
    }
  }

  &__menu {
    display: flex;
  }

  &__menu-link {
    position: relative;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;

    @media screen and (min-width: 768px) {
      padding-top: 32px;
      padding-bottom: 33px;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 35px;
    }

    transition: color var(--main-duration) var(--timing-function);

    &.current::before {
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 4px;
      bottom: 0;

      background-color: var(--accent-color);
      border-radius: 2px;
    }

    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 4px;
      bottom: 0;

      background-color: var(--accent-color);
      border-radius: 2px;

      transform: scaleX(0);
      transition: transform var(--main-duration) var(--timing-function);
    }

    &:hover::after,
    &:focus::after {
      transform: scaleX(1);
    }

    &.current {
      color: var(--accent-color);
    }

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__menu-item:not(:last-child) {
    margin-right: 50px;
  }
}

.info {
  display: flex;
  margin-left: auto;

  @media screen and (max-width: 767px) {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }

  @media screen and (min-width: 768px) {
    flex-direction: column;
    margin-top: 21px;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    margin-top: 0;
    margin-left: auto;
  }

  &__icon {
    margin-right: 10px;
    transition: fill var(--main-duration) var(--timing-function);
  }
}

.link {
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
  }

  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-info-color);

  fill: var(--header-info-color);

  @media screen and (min-width: 767px) {
    padding-bottom: 5px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  transition: color var(--main-duration) var(--timing-function);

  &:hover,
  &:hover {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .info__point:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .info__point:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.mobile-menu-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;

  border: none;

  cursor: pointer;

  top: 10px;
  right: 15px;

  @media screen and (min-width: 767px) {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
}

.burger-icon:hover,
.burger-icon:focus {
  fill: var(--accent-color);
}

.mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 100;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &__container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;

    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__close-button {
    position: absolute;
    top: 10px;
    right: 15px;

    width: 40px;
    height: 40px;
    padding: 0;
    line-height: 0;
    border: none;
    background-color: transparent;

    &:hover .mobile-menu__close-icon,
    &:focus .mobile-menu__close-icon {
      fill: var(--accent-color);
    }
  }

  &__close-icon {
    fill: #212121;
  }

  &__item {
    margin-bottom: 32px;
  }

  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.77;
    letter-spacing: 0.02em;

    color: var(--second-color);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__contact-list {
    margin-bottom: 64px;
  }

  &__contact-item {
    margin-bottom: 32px;
  }

  &__phone-link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }

  &__email-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    color: #757575;
  }
  &__social-list {
    display: flex;
    align-items: center;
  }

  &__social-link {
    // margin-right: 20px;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: var(--accent-color);
  }

  &__social-item {
    display: flex;
    align-items: center;
  }

  &__social-item:not(:last-child)::after {
    content: "";
    width: 1px;
    height: 22px;
    display: block;

    background: rgba(33, 33, 33, 0.2);

    margin-left: 10px;
    margin-right: 10px;
  }
}
