.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-image.jpg);
  background-color: var(--hero-background-color);
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (max-width: 767px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    padding: 118px 60px;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &__section {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
  }

  &__header {
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    margin-bottom: 30px;
    width: 100%;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-header-color);

    @media screen and (min-width: 1200px) {
      display: inline-block;
      width: 696px;
      line-height: 1.36;
      font-size: 44px;
      margin-right: 452px;
      margin-left: 452px;
    }
  }

  &__button {
    display: inline-block;
    width: 200px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    border: 0px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-weight: var(--font-weight-secondary);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: var(--hero-btn-back-color);
    color: var(--hero-btn-color);
    cursor: pointer;
  }
}
