.qualities {
  display: flex;

  &__list {
    display: flex;
  }

  &__point {
    display: block;
    width: 270px;

    &:not(last-child) {
      margin-right: 30px;
    }
  }

  &__icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;
    width: 270px;
    height: 120px;

    background-color: #f5f4fa;
  }

  &__name {
    display: inline-block;
    margin-bottom: 9px;

    font-size: 14px;
    font-weight: var(--font-weight-secondary);
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-font-color);
  }

  &__description {
    font-size: 14px;
    font-weight: var(--font-weight-p);
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--description-color);
  }
}
