:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --font-weight-main: 500;
  --font-weight-secondary: bold;
  --font-weight-p: 400;
  --font-weight-member: 500;

  --font-weight-projecs-overflow: 400;
  --icon-fill-color: #afb1b8;
  --logo-icon-color-left: #2196f3;
  --logo-icon-color-right: #ffffff;
  --accent-color: #2196f3;
  --footer-accent-color: #ffffff;
  --main-font-color: #212121;
  --header-info-color: #757575;
  --hero-background-color: #c4c4c4;
  --hero-header-color: #ffffff;
  --hero-btn-color: #ffffff;
  --hero-btn-back-color: #2196f3;
  --description-color: #757575;
  --team-back-color: #f5f4fa;
  --footer-back-color: #2f303a;
  --location-link-color: #ffffff;
  --filter-accent-background-color: #2196f3;
  --filter-accent-font-color: #ffffff;
  --footer-main-color: rgba(255, 255, 255, 0.6);
  --font-weight-modal-label: 400;
  --main-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
